---
layout: page
title: Exercises
permalink: /exercises/
icon: laptop
---

{% assign all_labs = site.pages | where:"layout","lab" %}
{% assign col1_labs = all_labs | slice:  0, 18 %}
{% assign col2_labs = all_labs | slice: 18, 18 %}
{% assign col3_labs = all_labs | slice: 36, 18 %}
{% assign col4_labs = all_labs | slice: 54, 18 %}

<div class="row">
  <div class="col-md-3">
    <ol>
    {% for lab in col1_labs %}
      <li><a href="{{ lab.url | relative_url }}">{{ lab.title | escape }}</a></li>
    {% endfor %}
    </ol>
  </div>
  <div class="col-md-3">
    <ol start="19">
    {% for lab in col2_labs %}
      <li><a href="{{ lab.url | relative_url }}">{{ lab.title | escape }}</a></li>
    {% endfor %}
    </ol>
  </div>
  <div class="col-md-3">
    <ol start="37">
    {% for lab in col3_labs %}
      <li><a href="{{ lab.url | relative_url }}">{{ lab.title | escape }}</a></li>
    {% endfor %}
    </ol>
  </div>
  <div class="col-md-3">
    <!-- <ol start="55">
    {% for lab in col4_labs %}
      <li><a href="{{ lab.url | relative_url }}">{{ lab.title | escape }}</a></li>
    {% endfor %}
    </ol> -->
    <ul>
      <li><a href="/assets/creds/lab01.zip">Lab 01</a></li>
      <li><a href="/assets/creds/lab02.zip">Lab 02</a></li>
      <li><a href="/assets/creds/lab03.zip">Lab 03</a></li>
      <li><a href="/assets/creds/lab04.zip">Lab 04</a></li>
      <li><a href="/assets/creds/lab05.zip">Lab 05</a></li>
      <li><a href="/assets/creds/lab06.zip">Lab 06</a></li>
      <li><a href="/assets/creds/lab07.zip">Lab 07</a></li>
      <li><a href="/assets/creds/lab08.zip">Lab 08</a></li>
      <li><a href="/assets/creds/lab09.zip">Lab 09</a></li>
      <li><a href="/assets/creds/lab10.zip">Lab 10</a></li>
      <li><a href="/assets/creds/lab11.zip">Lab 11</a></li>
      <li><a href="/assets/creds/lab12.zip">Lab 12</a></li>
      <li><a href="/assets/creds/lab13.zip">Lab 13</a></li>
      <li><a href="/assets/creds/lab14.zip">Lab 14</a></li>
      <li><a href="/assets/creds/lab15.zip">Lab 15</a></li>
      <li><a href="/assets/creds/lab16.zip">Lab 16</a></li>
      <li><a href="/assets/creds/lab17.zip">Lab 17</a></li>
      <li><a href="/assets/creds/lab18.zip">Lab 18</a></li>
    </ul>
  </div>
</div>
